{% load static %}
<link rel="stylessheet" href="{% static '/css/main.css'%}" >

<h1> Hello world</h1>

<img src="{% static 'images/captura.png'%}" alt="">

<html>
    <head>
        <tittle>Menú</tittle>
        <link rel="stylessheet" href="{% static '/css/main.css'%}" >
        <!-- CSS only-->

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    
                </div>
            </div>
        </div>
    </body>
</html>